<app-inicio></app-inicio>






<!-- <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="container mt-4">
  <div class="row">
    <h3>Hola mi nombre es {{nombre}}</h3>
    <input type="text"  [placeholder]="placeholder">
  </div>
  <br/>
  <div class="row">
    <h3>{{texto}}</h3>
  <br/>
    <button class="btn btn-primary" (click)="cambiarTexto()" > Click Me</button>
  </div>
<br/>
  <div class="row">
    <input type="text" class="formcontrol" placeholder="Escriba algo aqui" [(ngModel)]="texto2">
    <br/>
    <h6>{{texto2}}</h6>
  </div>

<div class="container">
  <div class="row">
    <h3>Listado de estudiantes</h3>
  </div>
  <br>
  <button class="btn btn-primary" (click)="toogle()">toogle</button>
  <table class="table"  *ngIf="listEstudiantes.length > 0">
    <thead>
      <th>Nro</th>
      <th>Nombre</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of listEstudiantes; let i = index">
        <td>{{i + 1}}</td>
        <td>{{estudiante.nombre}}</td>
        <td [ngStyle]="{ 'font-style' : estudiante.estado === 'Promocionado' ? 'italic' : 'normal' }">{{estudiante.estado}}</td>
        <td>
          <span [ngClass]="estudiante.estado === 'Promocionado' ? 'badge bg-success' : 'badge bg-secondary'">{{estudiante.estado}}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table"  *ngIf="listEstudiantes.length > 0">
    <thead>
      <th>Nro</th>
      <th>Nombre</th>
      <th>Estado</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of listEstudiantes; let i = index" [ngSwitch]="estudiante.estado">
        <td>{{i + 1}}</td>
        <td>{{estudiante.nombre}}</td>
        <td>
          <span *ngSwitchCase="'Promocionado'" class="badge bg-success">{{estudiante.estado}}</span>
          <span *ngSwitchCase="'Regular'" class="badge bg-secondary">{{estudiante.estado}}</span>
          <span *ngSwitchCase="'Libre'" class="badge bg-danger">{{estudiante.estado}}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 *ngIf="listEstudiantes.length === 0">No hay registros que mostrar</h3>
</div>

</div> -->
